<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha</title>
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
    <style>
        .game-cell {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            border: 2px solid #333;
            cursor: pointer;
        }
        .game-row {
            display: flex;
        }
        .game-container {
            margin-top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ocupa toda a altura da viewport */
            flex-direction: column; /* Alinha os itens na vertical */
            text-align: center;
        }
        #game-board {
            display: inline-block; /* Certifica que o tabuleiro tem o tamanho correto */
        }
    </style>
    
</head>
<body>
    <div class="container game-container">
        <h1>Jogo da Velha <span class="badge text-bg-secondary">Ola, {{nome}}</span></h1>
        <hr>
        <div id="alert"></div>
        <div id="game-board" class="mx-auto">
            <div class="game-row">
                <div class="game-cell" data-x="0" data-y="0"></div>
                <div class="game-cell" data-x="0" data-y="1"></div>
                <div class="game-cell" data-x="0" data-y="2"></div>
            </div>
            <div class="game-row">
                <div class="game-cell" data-x="1" data-y="0"></div>
                <div class="game-cell" data-x="1" data-y="1"></div>
                <div class="game-cell" data-x="1" data-y="2"></div>
            </div>
            <div class="game-row">
                <div class="game-cell" data-x="2" data-y="0"></div>
                <div class="game-cell" data-x="2" data-y="1"></div>
                <div class="game-cell" data-x="2" data-y="2"></div>
            </div>
            <hr>
        </div>
        <button type="button" class="btn btn-warning" id="novojogo">Novo Jogo</button><br>
        <a href="/" class="btn btn-primary" id="">Voltar</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Função para inicializar o tabuleiro ao carregar a página
            function inicializarTabuleiro() {
                $.ajax({
                    url: '/tabuleiro',
                    method: 'GET',
                    success: function (response) {
                        atualizarTabuleiro(response);
                    },
                    error: function () {
                        alert('Erro ao inicializar o tabuleiro.');
                    }
                });
            }

            // Função para atualizar o tabuleiro no frontend
            function atualizarTabuleiro(tabuleiro) {
                tabuleiro = JSON.parse(tabuleiro);
                console.log(tabuleiro);
                $('.game-cell').each(function () {
                    const x = $(this).data('x');
                    const y = $(this).data('y');
                    $(this).text(tabuleiro[x][y] || '');
                });
            }

            // Evento de clique nas células do tabuleiro
            $('.game-cell').click(function () {
                const x = $(this).data('x');
                const y = $(this).data('y');

                $.ajax({
                    url: '/jogar',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ x: y, y: x }),
                    success: function (response) {
                        if (response.mensagem) {
                            //alert(response.mensagem);
                            const alert = document.getElementById("alert");
                            const div = document.createElement('div');
                            if (response.mensagem == "venceu") {
                                div.className = 'alert alert-success alertdiv';
                                div.innerHTML = 'Você venceu!!';
                            }
                            if (response.mensagem == "perdeu") {
                                div.className = 'alert alert-danger alertdiv';
                                div.innerHTML = 'Você perdeu!!';
                            }
                            alert.appendChild(div);
                            inicializarTabuleiro(); // Reinicializa o tabuleiro após vitória
                        } else {
                            atualizarTabuleiro(response); // Atualiza o tabuleiro com a resposta da API
                        }
                    },
                    error: function (xhr) {
                        const erro = xhr.responseJSON ? xhr.responseJSON.erro : 'Erro ao jogar.';
                        alert(erro);
                    }
                });
            });

            $('#novojogo').click(function () {
                $.ajax({
                    url: '/novojogo',
                    method: 'GET',
                    contentType: 'application/json',
                    success: function(response) {
                        inicializarTabuleiro();
                        $(".alertdiv").remove();

                    }
                });
            });

            // Inicializar o tabuleiro ao carregar a página
            inicializarTabuleiro();
        });
    </script>
</body>
</html>
